*{
  padding: 0;
  margin:0;
  font-family: 'Titillium Web', sans-serif;
}
* *, *::before, *::after{box-sizing: border-box;}
figure{
  margin: 0;
  padding: 0;
  display: inline;
}

/* HEADER BEGINS HERE*/
header{
  background-color: purple;
  padding: 3%;
  padding-bottom: 6%
}
.h-container{
 max-width: 70%;
 margin: 0 auto;
}
.h-container nav{
 float: right;
 margin-top: 12px;

}
ul,li{           /* used multiple times */
  display: inline;
  list-style-type: none;
}
.h-container a{
  background-color: purple;
  color: white;
  padding: 6px 10px;
  text-decoration: none;
}
.h-container a:hover, a:active{
  background-color: indigo;
  color: white;
  border-radius: 3px;
}
.logo{
  float: left;
  max-width: 150px;
  max-height: 100px;
}
/* HEADER ENDS HERE */


/* main banner starts here*/
.main-banner{
  background-color: purple;
  color: white;
  padding-bottom: 75px;
}
.main-banner-container{
  max-width: 40%;
  margin: 0 auto;
  text-align: center;
}
.main-banner-container a{
  background-color: #eb7d4b;
  color: white;
  border-radius: 3px;
  padding: 10px 50px;
  text-decoration: none;
  border-bottom: 2px solid #c86a40;
}
.main-banner-container a:hover, a:active{
  background-color: #b35f39;
}
.main-banner-container h1{
  padding-bottom: 35px;
}
/* main banner ends here*/


/* services we provide starts here*/
.services-section{
  background-color: #17c2a4;
  color: white;
}
.container{     /* 4 category container - used multiple times*/
  max-width: 1170px;
  margin:0 auto;
  padding: 0 15px;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 30px;
}
.container p{    /* section description under each decor line - used multiple times */
  padding-bottom: 20px;
}
.container h2{
  padding-top: 20px;
  padding-bottom: 20px;
}
.container h2:after{
  content: "";
  background-color: black;
  opacity: 0.15;
  margin: 0 auto;
  display: block;
  height:5px;
  width: 10%;
  border-radius: 3px;
  margin-top: 25px;
}
.card-section{
  padding-top: 30px;
  padding-bottom: 30px;
}
.clearfix:after{
	content: '';
	clear: both;
	display: block;
}
.item{
  width: 25%;
  float: left;
  text-align: center;
  padding: 0 15px;
}
.item figure img{
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}
/* services we provide ends here  */


/* meet our team starts here */
.team-section{
  background-color: #e7f1f8;
  color: #3c4761;
}
.item h5{
  color: #30bae7;
}
.item .social-links figure img{
  width:30px;
  height:30px;
}
.item .social-links a{
  padding: 0;
}
.item .social-links a:hover, a:active{
  background-color: transparent;
}
/* meet our team ends here  */


/* we got skills starts here */
.skills-section{
  background-color: #ffffff;
  color: #3c4761;
}
/* we got skills ends here  */


/* our portfolio starts here */
.portfolio-section{
  background-color: #ffdd99;
  color: #393939;
}
.card-section1{
  padding-top: 30px;
}
.item1{
  width: 50%;
  float: left;
  padding: 0 15px 50px 0px;
  text-align: center;
}
.container a{
  color: #393939;
  border-radius: 2px;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
}
.section-bottom-button-ct a{
  background-color: #17c2a4;
  color: #ffffff;
  border-bottom: 2px solid #14a58c;
}
.section-bottom-button-ct a:hover, a:active{
  background-color: #168975;
}
.nav-portfolio a{
  background-color: #ebc985;
}
.nav-portfolio a:hover, a:active{
  background-color: #ffffff;
}
/* our portfolio ends here  */


/* what people say about us starts here */
.sayaboutus-section{
  background-color: #d74680;
  color: #ffffff;
}
.single-testimonial{
  width:80%;
}
.single-testimonial figure img{
  height: 80px;
  width: 80px;
}
.testimonial-txt-section{
  text-align: left;
  float: right;
  width: 65%;
}
.single-testimonial h5{
  color: #ffdd99;
}
.single-testimonial h4{
  padding-top: 20px
}
/* what people say about us ends here  */


/* Get in Touch starts here */
.getintouch-section{
  background-color: #3c5499;
  color: #ffffff;
}
.form-wrapper{
  padding-top: 5%;
  width:50%;
  margin: 0 auto;
  padding-bottom: 5%;
}
.form-wrapper .card-section1{
  padding-top: 0;
  padding-bottom: 50px;
  width:100%;
}
.form-wrapper .card-section1 .item1{
  padding: 0px 5px 0px 5px;
}
.form-wrapper .card-section1 .item1 input{
  width: 100%;
  float: left;
  background-color: #273a71;
  border: none;
  color: white;
  border-radius: 2px;
  padding: 10px;
}
.card-section1 textarea{
 width: 100%;
 background-color: #273a71;
 border: none;
 color: white;
 border-radius: 2px;
 padding: 10px;
}
.form-wrapper .send-message{
  background-color: #30bae7;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 10px 50px;
  border-bottom: 2px solid #299ec5;
}
.form-wrapper .send-message:hover, .send-message:active{
  background-color: #2382a1;
}
/* //////////////////////Place holder css for input area  */
::-webkit-input-placeholder {    /* chrome/safari*/
 font-size: 14px;
 color: white;
 padding-left: 10px;
}
:-moz-placeholder {         /* older Firefox*/
  font-size: 14px;
  color: white;
  padding-left: 10px;
}
::-moz-placeholder {         /* Firefox 19+ */
  font-size: 14px;
  color: white;
  padding-left: 1%;
  opacity: 1;
}
:-ms-input-placeholder {     /* Internet explorer*/
  font-size: 14px;
  color: white;
  padding-left: 10px;
}
/* /////////////////////////placeholder css ends */
/* Get in Touch ends here  */


/* footer starts here */
footer{
  background-color: #344b8e;
}
footer .item{
  width: 14%;
}
footer .item a{
  color: #ffffff;
  text-decoration: none;
  margin-left: 58px;
  margin-right: 60px;
}
footer .item a:hover,a:active{
  color: #3370ac;
}
/* footer ends here */


/* Responsive tags*/
@media (max-width: 1500px){
  .item figure img{
    width: 70px;
    height: 70px;
  }
  .item1 figure img{
    width: 70%;
    height:70%;
  }
  .single-testimonial figure img{
    height: 40px;
    width: 40px;
  }
}
@media (max-width: 991px){
  .item{
    width: 50%;
    margin-bottom: 50px;
  }
  .item1{
    width:50%;
    margin-bottom: 50px;
  }
  footer .item{
    width: 100%;
    height:5%;
  }
}
@media (max-width: 767px){
  .item{
    width: 100%;
  }
  .item1{
    width:100%;
  }
  footer .item{
    width:100%;
    height: 10%
  }
}
/*  Responsive tags end here */
