*{
  padding: 0;
  margin:0;
  font-family: 'Titillium Web', sans-serif;
}
/* HEADER BEGINS HERE*/
header{
  background-color: purple;
  padding-bottom: 100px;
}
.hf-container{
 max-width: 70%;
 margin: 0 auto;
 padding: 50px;
}
.hf-container nav{
 float: right;
 margin-top: 12px;

}
ul,li{
  display: inline;
  list-style-type: none;
}
.hf-container a{
  background-color: purple;
  color: white;
  padding: 6px 10px;
  text-decoration: none;
}
.hf-container a:hover, a:active{
  background-color: indigo;
  color: white;
  border-radius: 3px;
}
.logo{
  float: left;
  max-width: 150px;
  max-height: 100px;
}

.first-section{
  background-color: purple;
  color: white;
  padding-bottom: 75px;
}
.first-section-container{
  max-width: 40%;
  margin: 0 auto;
  text-align: center;
}
.first-section-container a{
  background-color: #eb7d4b;
  color: white;
  border-radius: 3px;
  padding: 10px 50px;
  text-decoration: none;
}
h1{
  padding-bottom: 35px;
}
