*{
  padding: 0;
  margin:0;
  font-family: 'Titillium Web', sans-serif;
}
* *, *::before, *::after{box-sizing: border-box;}
/* HEADER BEGINS HERE*/
header{
  background-color: purple;
  padding: 3%;
  padding-bottom: 6%
}

/* hf-container is being used at both header and footer*/

.h-container{
 max-width: 70%;
 margin: 0 auto;
}
.h-container nav{
 float: right;
 margin-top: 12px;

}
ul,li{
  display: inline;
  list-style-type: none;

/* used multiple times */
}
.h-container a{
  background-color: purple;
  color: white;
  padding: 6px 10px;
  text-decoration: none;
}
.h-container a:hover, a:active{
  background-color: indigo;
  color: white;
  border-radius: 3px;
}
.logo{
  float: left;
  max-width: 150px;
  max-height: 100px;
}

/* HEADER ENDS HERE */
/* first section starts here*/

.first-section{
  background-color: purple;
  color: white;
  padding-bottom: 75px;
}
.first-section-container{
  max-width: 40%;
  margin: 0 auto;
  text-align: center;
}
.first-section-container a{
  background-color: #eb7d4b;
  color: white;
  border-radius: 3px;
  padding: 10px 50px;
  text-decoration: none;
}
h1{
  padding-bottom: 35px;
}

/* first section ends here*/
/* second section starts here*/

.second-section{
  background-color: #17c2a4;
  color: white;
}

.section-container{
  max-width: 1170px;
  margin:0 auto;
  padding: 0 15px;
  text-align: center;
  /* 4 category container - used multiple times*/
}
.section-container p{
  padding-bottom: 100px;

  /* section description under each decor line - ised multiple times */
}
.section-container h2{
  padding-top: 20px;
}
.decor-line{
  opacity: 0.15;
  /* decor line under heading of each section, also used multiple times*/
}
.cat-container{
  padding-top: 30px;
}
.clearfix:after{
	content: '';
	clear: both;
	display: block;
}
.single-cat-container{
  width: 25%;
  float: left;
  text-align: center;
  padding: 0 15px;
}
.single-cat-container img{
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}

/* second section ends here  */
/* third section starts here */
.third-section{
  background-color: #e7f1f8;
  color: #3c4761;
}

/* third section ends here  */
/* fourth section starts here */

.fourth-section{
  background-color: #ffffff;
  color: #3c4761;
}

/* fourth section ends here  */
/* fifth section starts here */

.fifth-section{
  background-color: #ffdd99;
  color: #393939;
}
.cat-container1{
  padding-top: 30px;
}
.inner-cat-container1{
}
.single-cat-container1{
  width: 50%;
  float: left;
  padding: 0 15px;
  text-align: center;
}
.section-bottom-button-ct{
  padding-bottom: 100px;
}
.section-container a{
  color: #393939;
  border-radius: 2px;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
}
.section-bottom-link{
  background-color: #17c2a4;
  color: #ffffff
}
.nav-portfolio a{
  background-color: #ebc985;
}

/* fifth section ends here  */
/* sixth section starts here */

.sixth-section{
  background-color: #d74680;
  color: #ffffff;
}
.single-testimonial img{
  float: left;

}

/* sixth section ends here  */
/* seventh section starts here */

.seventh-section{
  background-color: #3c5499;
  color: #ffffff;
}
.form-wrapper{
  width:50%;
  margin: 0 auto;
  padding-bottom: 5%;
}
.form-wrapper input{
  width: 45%;
  float: left;
  margin-bottom: 3%;
  margin-left: 3%;
  background-color: #273a71;
  border: none;
  border-radius: 2px;
  padding: 2% 0;
}
.form-wrapper textarea{
 width: 93%;
 background-color: #273a71;
 border: none;
 border-radius: 2px;
 height: 100%;
 padding: 2% 0.5%;
}

/* Place holder css for input area  */

::-webkit-input-placeholder {    /* chrome/safari*/
 font-size: 14px;
 color: white;
 padding-left: 10px;
}
:-moz-placeholder {         /* older Firefox*/
  font-size: 14px;
  color: white;
  padding-left: 10px;
}
::-moz-placeholder {         /* Firefox 19+ */
  font-size: 14px;
  color: white;
  padding-left: 1%;
  opacity: 1;
}
:-ms-input-placeholder {     /* Internet explorer*/
  font-size: 14px;
  color: white;
  padding-left: 10px;
}

/* placeholder css ends */
.send-message{
  background-color: #30bae7
}
/* seventh section ends here  */
/* footer starts here */
footer{
  background-color: #344b8e;
  padding: 2%;
}
.f-container{
  width: 70%;
  margin: 0 auto;
}
.f-container a{
  color: #ffffff;
  text-decoration: none;
  margin-left: 58px;
  margin-right: 60px;
}
.f-container a:hover,a:active{
  color: #3370ac;
  background-color: transparent;
}

/* Responsive tags*/

@media (max-width: 1500px){
  .single-cat-container img{
    width: 70px;
    height: 70px;
  }
  .single-cat-container1 img{
    width: 70%;
    height:70%;
  }
}

@media (max-width: 991px){
  .single-cat-container{
    width: 50%;
    margin-bottom: 50px;
  }
  .single-cat-container1{
    width:50%;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px){
  .single-cat-container{
    width: 100%;
  }
  .single-cat-container1{
    width:100%;z
  }
}
